.checkout-method{
    margin-inline: 20%;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

.method{
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
}

.method:hover{
    
    background-color: rgb(239, 239, 239);
    color: orangered;
}

.method img{
    border-radius: 20px;
}

.method p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkout-cashless-container{
    display: none;
}

.checkout-cashless-list{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    margin-inline: 20%;
}


.checkout-price-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.checkout-price-bar h1{
    color: rgb(213, 213, 213);
    width: 50%;
    text-align: right;
    padding-right: 5%;
}

.checkout-price-bar p{
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: fit-content;
}

.checkout-price-bar button{
    margin-left: 10%;
    border: none;
    background-color: rgb(255, 94, 0);
    font-size: 24px;
    padding-block: 10px;
    padding-inline: 5%;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 3px grey;
}

.checkout-price-bar button:hover{
    background-color: orangered;
    color: white;
}