body{
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
}

main{
    margin-left: 25%;
    margin-block: 50px;
}

.logout-btn{
    border: none;
    background-color: rgb(192, 52, 33);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding-inline: 10%;
    padding-block: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 1px grey;
}

.logout-btn:hover{
    background-color: rgb(119, 14, 0);
}




