.search-panel-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-panel-container h1{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: grey;
    width: 50%;
}

.search-bar-form{

    
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3%;
    margin-right: 10%;
}

.search-bar-form input{
    padding-block: 10px;
    padding-inline: 20%;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(255, 251, 244);
    box-shadow: 0px 0px 3px grey;
    height: 20px;
    width: 300px;
}

.search-bar-form button{
    border: none;
    background-color: rgb(255, 0, 111);
    color: white;
    font-size: 18px;
    padding-block: 5px;
    padding-inline: 5%;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 3px grey;
}

.search-bar-form button:hover{
    
    background-color: rgb(147, 0, 64);
    cursor: pointer;
}

.notification-btn{
    border-radius: 1000px;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    padding: 10px;
    box-shadow: 0px 0px 3px grey;
}


.notification-btn:hover{
    background-color: rgb(213, 213, 213);
}