.transaction-table{
    margin-inline: 5%;
    box-shadow: 0px 0px 3px grey;
    padding-block: 20px;
    padding-inline: 1%;
    border-radius: 20px;
}

.transaction-header th{
    width: 300px; 
    padding-inline: 3%;
    padding-block: 10px;
    font-size: 12px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.transaction-row{
    width: 300px; 
    padding-inline: 5%;
    font-size: 14px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.transaction-row tr{
    box-shadow: 0px 1px 0.5px rgb(245, 245, 245);
}

.transaction-row :hover{
    background-color: rgb(242, 242, 242);
}

.sorting-form{
    margin-block: 50px  ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sorting-form label{
    margin-left: 5%;
    margin-right: 3%;
}

.sorting-form select{
    border-radius: 10px;
    border: 1px solid rgb(232, 232, 232);
    padding: 10px;
}

.sorting-form button{
    margin-left: 5%;
    border: none;
    background-color: rgb(255, 0, 111);
    color: white;
    font-size: 15px;
    padding-block: 5px;
    padding-inline: 3%;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 3px grey;
}


